/* @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,300&family=Oswald:wght@200&family=Roboto:wght@900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&display=swap");
* {
	margin: 0;
	padding: 0;
	font-family: "Rajdhani", sans-serif;
}

body {
	text-align: left;
	margin: 0;
	background-color: #ebfaeb;
}

.navbar ul {
	right: 0px;
	list-style-type: none;
	padding-right: 5rem;
}

.navbar li {
	display: inline-block;
	padding: 0px 5px;
}

.navbar a {
	text-decoration: none;
	color: #0e5200;
	font-size: 1.5rem;
	border-radius: 5px;
	padding: 0.5rem;
	font-weight: 700;
}

.navbar a:hover {
	background-color: #b5edb5;
	color: #007900;
	transition-duration: 167ms;
	box-shadow: 2px 1px 1px #093300;
}

.navbar .img img {
	left: 0;
	width: 70px;
	padding-left: 5rem;
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	background-color: #b5edb580;
	align-items: center;
	justify-content: space-between;
	backdrop-filter: blur(7px);
}

p {
	/* font-family: "Lato", sans-serif; */
	margin: 35px 0px;
	line-height: 55px;
	font-size: 2rem;
	/* font-style: oblique; */
	color: #505050;
}

#content h1 {
	/* font-family: "Roboto", sans-serif; */
	color: #505050;
	padding-top: 8rem;
}

p.intro {
	/* font-family: "Oswald", sans-serif; */
	font-size: 3rem;
	font-style: oblique;
	color: #505050;
}

#about,
#education,
#skills,
#projects,
#contact {
	scroll-margin-top: 11rem;
}

div#content {
	padding-left: 5rem;
	padding-right: 5rem;
}

div.menu {
	display: none;
}

div.cont {
	display: flex;
	position: absolute;
	justify-content: space-around;
	width: 100%;
	height: 125px;
	background-color: #b5edb5;
	align-items: center;
}

div.cont i {
	color: #0e5200;
	padding: 0.2rem;
}

div.cont i:hover {
	color: #00b100;
}

div#skills {
	font-family: "Lato", sans-serif;
	font-weight: 700;
	text-align: center;
}

div#projects a {
	color: #505050;
	text-decoration: none;
	font-size: 20px;
	padding: 0.2rem;
	border-radius: 5px;
	font-weight: 700;
}
div#projects a:hover {
	background-color: #b5edb5;
	color: #005200;
}

div#projects .pr1,
div#projects .pr2,
div#projects .pr3,
div#projects .pr4 {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media screen and (max-width: 768px) {
	.navbar {
		flex-direction: column;
		position: fixed;
		top: 0%;
	}
	.navbar a {
		padding: 0.2rem;
	}
	div.menu {
		display: flex;
		flex-direction: column;
		position: absolute;
		right: 20px;
		top: 28px;
		padding: 0.5rem;
		padding-bottom: 0.06rem;
	}

	.menu-lines {
		margin-bottom: 5px;
		width: 25px;
		height: 2px;
		background-color: #0f3d0f;
	}
	.menu:hover {
		background-color: #b5edb5;
		border-radius: 5px;
		box-shadow: 2px 1px 1px #093300;
		transition-delay: 100ms;
	}
	.navbar ul {
		width: 86%;
		list-style-type: none;
		padding-left: 5rem;
		padding-right: 0rem;
		margin: 0px;
	}

	.navbar li {
		display: flex;
		padding: 5px 0px;
	}

	.navbar .img {
		width: 100%;
	}

	div#content.active {
		padding-top: 149px;
	}

	ul.active {
		display: none;
	}

	#about,
	#education,
	#skills,
	#projects,
	#contact {
		scroll-margin-top: 23rem;
	}
}
